<!DOCTYPE html>
<html>
<head>
  <title>CommuterPigeon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag src="//maps.googleapis.com/maps/api/js?key=AIzaSyCy53wFoyqMc6afVKRA6H9kMBryKv4aAcM" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
